:root {
  --primary-color: #2F2B2B;
  --secondary-color: #ABC2CB;
  --accent-color: #A062E4; 
  --background-color: #FFF8EA;
  --header-font: Merriweather;
  --p-font: OpenSans-SemiBold; 
}

@font-face {
  font-family: Merriweather;
  src: url(../fonts/MerriweatherSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans-SemiBold;
  src: url(../fonts/OpenSans-SemiBold.ttf);
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Grunnleggende styling for headeren */
header { 
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1506619216599-9d16d0903dfd?q=80&w=3269&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px 64px; 
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: center; /* Plasserer venstre og høyre lenker på hver side */
  align-items: center;
  width: 100%;
  gap: 40px;
  padding: 30px;
}

.left-links, .right-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.left-links ul, .right-links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.left-links li, .right-links li {
  margin: 0 30px; 
}

.left-links a, .right-links a {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 20px;
  font-family: var(--p-font);
  transition: color 0.3s ease;
}

.left-links a:hover, .right-links a:hover {
  color: var(--primary-color); 
}

/* Lenker som er besøkt */
a:visited {
  color: var(--secondary-color); 
}

/* Aktive lenker */
a:active {
  color: var(--accent-color); 
  text-decoration:underline;
}

/* Logo i midten */
.logo {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.logo img {
  width: 50px;
  height: auto;
  padding-top: 10px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: calc(100vh - 64px); /* Tar opp resterende plass etter navigasjonen */
  color: var(--primary-color);
}

.hero h1 {
  font-size: 48px;
  font-family: var(--header-font);
  line-height: 1.2;
  width: 500px;
  margin-right: 100px;
}

.container { 
display: grid;
grid-template-columns: repeat(12, 1fr);
gap: 32px;
padding: 64px;
background-color: var(--background-color);
position: relative;
}

/* Color-block bakgrunn */
.color-block {
  grid-column: 1 / span 4;
  background-color: var(--primary-color);
  height: 1322px;
  width: 512px;
  position: absolute;
  top: 100px;
  left: 64px; 
  border-radius: 5px;
  z-index: 0;
}

/* Seksjonen som inneholder elementene */
.section {
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  position: relative;
  z-index: 1;
} 

 /* Styling for hvert element */
.element {
  display:contents; /* Brukes for å kontrollere plassering av barn i grid */
} 

/* Styling for bildene */
.image-box {
  grid-column: 2 / 4;
  margin-top: 100px; /* Plasser 100px under toppen av forrige element */
}

.image-box img {
  width: 512px;
  height: 512px;
  border-radius: 5px;
}

/* Styling for tekstboksen */
.color-box {
  grid-column: 10 / 12;
  width: 784px;
  height: 512px;
  background-color: var(--secondary-color);
  padding: 50px;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

/* Tekst inni color-box */
.color-box h3,
.color-box p {
  margin: 0;
  text-align: left;
}

/* Spesifikk avstand mellom første og andre element */
.section .element:nth-of-type(2) .image-box {
  margin-top: 100px; /* Legger avstand mellom første og andre bilde */
}

   h3 {
    font-size: 32px;
    font-family: var(--header-font);
    color: var(--primary-color);
    padding-bottom: 15px;
   }

   p {
    font-size: 16px;
    font-family: var(--p-font);
    color: var(--primary-color);
    width: 400px;
   }